
{% extends 'base.html' %}

{% block title %}
    {% if libro %}Editar libro{% else %}Nuevo libro{% endif %}
{% endblock %}

{% block content %}
<h1>
    {% if libro %}Editar libro{% else %}Nuevo libro{% endif %}
</h1>

<form method="post" enctype="multipart/form-data" class="mt-3">
    {% csrf_token %}
    {{ form.as_p }}

    <button type="submit" class="btn btn-primary">Guardar</button>
    <a href="{% url 'lista_libros' %}" class="btn btn-secondary">Cancelar</a>
</form>
{% endblock %}